@using NewsWebsite.ViewModels.UserManager;
@model UserCategoriesViewModel


<ul>
    @if (Model.Categories.Any() && Model.Categories != null)
    {
        @foreach (var item in Model.Categories)
        {
            <li>
                @if (Model.CategoryIds != null)
                {
                    if (Model.CategoryIds.Contains(item.id))
                    {
                        <input type="checkbox" name="CategoryIds" value="@item.id" checked /> @item.title
                    }
                    else
                    {
                        <input type="checkbox" name="CategoryIds" value="@item.id" /> @item.title
                    }
                }

                else
                {
                    <input type="checkbox" name="CategoryIds" value="@item.id" /> @item.title
                }

                @{
                    Model.Categories = item.subs;
                }
                @await Html.PartialAsync("_RenderUser - Copy", Model)
            </li>
        }
    }

</ul>